.btn {
    width: 100px;
}

.pagination a{
    font-size: 20px;
    margin-right: 20px;
    cursor: pointer;
}
.activeLink {
    color: red;
    font-weight: bold;
}
.preloader {
    width: 150px;
    height: 100px;
    background-color: none;
}